
<%if !@my_vehicles.nil? %>
  <%@my_vehicles.each do |vehicle|%>
    <!--<section class="wrapper fadeInDown card">-->
      <div class="card-vehicle-info">
        <h5 class="card-title"><a href="/vehicles/<%=vehicle.id%>" class="card-link"><%=vehicle.year%> <%=vehicle.make%> <%=vehicle.model%></a></h5>
        <p class="card-content">Color: <%=vehicle.color%></p>
        <p>Vin: <%=vehicle.vin%></p>
      </div>
  <%end%>
<%end%>
