
<% if !@my_vehicles.nil? %>
  <%@my_vehicles.each do |vehicle|%>
  <section class="wrapper fadeInDown card">
    <div class="card-vehicle-info">
      <h5 class="card-title"><%=vehicle.year%> <%=vehicle.make%> <%=vehicle.model%></h5>
      <p class="card-content">Color: <%=vehicle.color%></p>
      <p>Vin: <%=vehicle.vin%></p>
    </div>
    <div class="vehicle-footer">
      <p class="card-links"></p><a href="#" class="card-link">edit vehicle</a><a href="#" class="card-link">remove vehicle</a></p>
    </div>
  </section>
    <%end%>
<%end%>