<div class="card-vehicle-info">
  <h5 class="card-title"><%=@vehicle.year%> <%=@vehicle.make%> <%=@vehicle.model%></h5>
  <p class="card-content">Color: <%=@vehicle.color%></p>
  <p>Vin: <%=@vehicle.vin%></p>
</div>
